:root { /* Estilo padrão de cores definidos em variaveis, Dark theme */
    --bg-dark: hsl(0 0% 5%);
    --bg: hsl(0 0% 10%);
    --bg-dark-important: hsl(0 0% 15%);
    --button-hover: hsl(0 0% 20%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --border: hsl()(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
}

body.light { /* Tema claro, definido em variaveis */
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 85%);
    --bg-dark-important: hsl(0 0% 75%);
    --button-hover: hsl(0 0% 60%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: (0 0% 30%);
}

body { /* Tema Padrão - Dark */
    background: var(--bg-dark);
    color: var(--text-muted);
}

button { /* Estilo para todos os botões */
    background: var(--bg-dark-important);
    padding: 0.5rem 1rem 0.7rem 1rem;
    color: var(--text);
    font-weight: 700;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    border: none;
}

button:hover { /* estilo para o botao quando presionado*/
    background: var(--button-hover)
}

/* estilo caso "queroCriptografar" seja 0 (descriptografar) */
#codificarOuDecodificar {
    background: green;
}

/* estilo caso "queroCriptografar" seja 1 (descriptografar) */
#codificarOuDecodificar.decodificar {
    background: blue;
}


section {
    display: flex;
}

label {
    font-size: 1.2rem;
    color: var(--text);
}

input {
    background: var(--bg-dark-important);
    border: none;
    border-radius: 0.4rem;
    padding: 30px;
}

#deslocamento {
    padding:10px;
}

input, textarea, select {
    color: var(--text-muted)
}

input[type=number] { /* remove o incremento e decremento do campo input tipo number */
    -moz-appearance: textfield;
}

div.container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-auto-flow: row;
}

div.item {
    width: fit-content;
    display: grid;
    grid-template-columns: auto;
    background: var(--bg);
    border-radius: 1rem;
    padding: 10px;
    margin: 10px;
   
}
